<div class="row w-100 mx-0 p-4 px-5">
  <p class="headline-7 col-12  text-center">{{data.title}}</p>
  <p class="caption gray-color col-12 mx-auto mt-1 ">{{data.text}}</p>
  <ng-container *ngIf="data.msg_type=='warning'">
    <div class="col-12 warning_bg p-2">
      <div class="row">
        <div class="col-1">
          <mat-icon class=" yellow-color">warning_outline</mat-icon>
        </div>
        <div class="col-11">
          <p class="caption yellow-color regular col-12 mx-auto mt-1 ">Warning!</p>
          <p class="caption yellow-color col-12 mx-auto mt-1 ">{{data.msg}}</p>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="data.msg_type=='error'">
    <div class="col-12 warning_bg p-2">
      <div class="row">
        <div class="col-1">
          <mat-icon class=" yellow-color">error</mat-icon>
        </div>
        <div class="col-11">
          <p class="caption yellow-color regular col-12 mx-auto mt-1 ">Error !</p>
          <p class="caption yellow-color col-12 mx-auto mt-1 ">{{data.msg}}</p>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="data.msg_type=='success'">
    <div class="col-12 warning_bg p-2">
      <div class="row">
        <div class="col-1">
          <mat-icon class=" yellow-color">done</mat-icon>
        </div>
        <div class="col-11">
          <p class="caption yellow-color regular col-12 mx-auto mt-1 ">Success !</p>
          <p class="caption yellow-color col-12 mx-auto mt-1 ">{{data.msg}}</p>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="data.selector">
    xsx
  </ng-container>
  <div class="row mt-3">
    <button class="col-4 mx-auto btn button-primary-1 white-color" [mat-dialog-close]="1">
      {{data.positive_button}}
    </button>
    <button class=" col-4 mx-auto btn button-disable-1   "[mat-dialog-close]="0" >  {{data.negative_button}} </button>
  </div>
</div>