.warning_bg {
  background-color: #79746b;
  border-radius: 10px;
}

.primary_btn {
  border-radius: 10px;
  background: #97be41;
  color: #fff;
  padding: 5px 20px 5px 20px;
  border: 1px solid #97be41;
}

.btn-reset {
  background-color: #3f3d3e;
  border: 1px solid #838383;
  border-radius: 10px;
}
