.popup {
    width: 30vw;
    max-height: 65vh;
  }
  .primary_btn {
    border-radius: 20px !important;
  }
  .clear_btn {
    background-color: #1e2021 !important;
    border: 2px solid #1e2021;
  }
  
  .text-area {
    width: 90%;
  }
  .clear_btn {
    background-color: #1e2021 !important;
    border: 2px solid #1e2021;
  }

  .primary_btn{
    border-radius: 10px   !important;
    padding: 10px 20px 10px 20px !important;

  }
  .btn-reset{
    background-color:#3F3D3E ;
    border: 1px solid #838383;
    border-radius: 10px;
    padding: 10px 20px 10px 20px !important;

  }