<div class="col-12 popup p-4">
  <div class="row mb-4 mt-2">
    <div class="col-11">
      <p class="body-3 primary">Add a New Category</p>
    </div>
    <div class="col-1 m-auto">
      <img
        mat-dialog-close
        #closebutton
        src="../../../../assets/icons/close.png"
        alt=""
        class="m-auto"
      />
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-3 my-auto">
      <p class="primary content">Category Name</p>
    </div>
    <div class="col-5">
      <form #myForm="ngForm" >
        <mat-form-field appearance="outline" class="w-100" >
          <mat-label class="body-2 gray-text">Search by Product Name1</mat-label>
          <input
            type="text"
            matInput
            placeholder="Search by Product Name"
            [formControl]="category_nameformcontrol" />
            <mat-hint>Hint</mat-hint>
       
         
        </mat-form-field>
         <mat-hint class="text-danger" *ngIf="resultArray[0]?.type == 'category_name'">{{resultArray[0].msg}}</mat-hint>
      </form>
    
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="col-12 mt-5 d-flex flex-row-reverse">
        <div class="col-3 d-flex">
          <button class="primary_btn m-auto content" (click)="save()">
            SAVE DETAILS
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
