.header {
    width: 95%;
    border-radius: 10px;
  }
  
  .body-header {
    margin-right: 3rem;
    margin-left: 3rem;
    width: 95%;
  }
  
  .body-table {
    width: 95%;
    margin-right: 3rem;
    margin-left: 3rem;
    border-radius: 10px;
  }
  
  @media (max-width: 1200px) {
    .body-header {
      width: 95%;
      margin: auto;
    }
    .primary_btn {
      border-radius: 10px;
      background: #97be41;
      color: #fff;
      padding: 5px 20px 5px 20px;
    }
  
    .body-table {
      width: 95%;
      margin: auto;
    }
    .status_btn {
      width: 100%;
    }
    .first_row {
      height: 100px;
    }
  }
  
  .text-area {
    width: 90%;
  }
  
  tr:first-child th:first-child {
    border-top-left-radius: 10px;
  }
  
  tr:last-child th:first-child {
    border-bottom-left-radius: 10px;
  }
  
  tr:first-child th:last-child {
    border-top-right-radius: 10px;
  }
  
  tr:last-child th:last-child {
    border-bottom-right-radius: 10px;
  }
  .borderRL {
    border-right: 2px solid #676767;
    border-left: 2px solid #676767;
  }
  .border_bottom {
    border-bottom: 2px solid #676767;
  }
  
  .add_row_btn {
    background-color: #404040;
    color: white;
    border-radius: 20px;
  }
  
  .red-close-btn {
    right: 10px;
  }
  .attribite_input {
    width: 80%;
  }
  
  // table effct
  .btn_back {
    background-color: #15171a;
  }
  
  .show-image td {
    // border: solid 1px black;
  }
  
  .show-image th {
    // border-top: solid 1px black;
  }
  
  .show-image th:first-child {
    // border-left: solid 1px black;
  }
  
  .show-image th:last-child {
    // border-right: 1px solid black;
  }
  
  .show-image td:last-child {
    border: 0;
  }
  
  .show-image td:last-child button {
    display: none;
  }
  
  .show-image tr:hover > td:last-child > button {
    display: block;
  }
  
  table.show-image {
    table-padding: 0;
    table-spacing: 0;
    border-collapse: collapse;
  }
  .row-del-btn {
    bottom: 0;
    top: 0;
    text-orientation: mixed;
    writing-mode: vertical-rl;
    border-radius: 0px 15px 15px 0px;
    background-color: #4A1313;
    color: #fff;
    border: 1px solid #4A1313;
  
  
  }
  .detail_text{
    margin-left: 40%;
  }
  
  .footer_btn{
    width: 95%;
  }
  .varient_btn {
    border-radius: 20px;
    background: #97be4100;
    color: #97be41;
    padding: 10px 30px 10px 30px;
    border: 2px solid #97be41;
    
  }
  