.header {
    width: 95%;
    border-radius: 10px;
  }
  
  .body-header {
    margin-right: 3rem;
    margin-left: 3rem;
    width: 95%;
  }
  
  
  .body-table {
    width: 95%;
    margin-right: 3rem;
    margin-left: 3rem;
    border-radius: 10px;
  }
  .admin_state{
    background-color: rgba(246, 183, 73, 0.20) ;
    border-radius: 20px;

  }
  .admin_txt{
    color: #F6B749;
  }
  .genaral_state{
    background-color:rgba(151, 190, 65, 0.20);
    border-radius: 20px;

    ;

  }
  .genaral_txt{
    color: #F6B749;
  }
  
  @media (max-width: 1200px) {
    .body-header {
      width: 95%;
      margin: auto;
    }
    .primary_btn {
      border-radius: 10px;
      background: #97be41;
      color: #fff;
      padding: 5px 20px 5px 20px;
    }
  
    .body-table {
      width: 95%;
      margin: auto;
    }
    .status_btn {
      width: 100%;
    }
    .primary_btn{
      margin-top: 20px;
      height: 50px;
      
    }
  }

  .sidenav-content {
    overflow-x: hidden;
}

.header{

    width: 95%;
    height: 100px;
}

.nav-bar {
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.65);
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.65);
}

