<div class="col-12 mt-4 body-table secound_back">
  <div class="row mx-2 py-3">
    <div class="col-12 col-md-6 text_field my-auto">
      <div class="d-flex">
        <p class="headline_4 f_400 my-auto">
          Categories <span class="content f_400"> {{count}}</span>
        </p>

        <mat-form-field appearance="outline" class="w-50 mx-4" >
          <mat-label class="body-2 gray-text">Search by Category name</mat-label>
        <mat-icon matPrefix >search</mat-icon>
          <input type="text" matInput placeholder="Search by Category name"   (keyup)="search($event)" />

         
        </mat-form-field>
      </div>
    </div>

    <div class="col-12 col-md-6 d-flex flex-row-reverse ">
      <div class="col-3 d-flex w-auto"><button (click)="openCategory()" class="primary_btn m-auto content">ADD A CATREGORY</button></div>
      
    </div>
  </div>

  <!-- Product table -->
  <div class="col-md-12">


    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
        <!-- ID Column -->
        <ng-container matColumnDef="category_id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> <span class="mx-2 body-2" >|</span>
            CATEGORY ID</th>
          <td mat-cell *matCellDef="let row">{{ row.category_id }}</td>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="category_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> <span class="mx-2 body-2" >|</span>NAME</th>
          <td mat-cell *matCellDef="let row" >{{ row.category_name }}</td>
        </ng-container>

        

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> <span class="mx-2 body-2" >|</span>ACTION</th>
          <td mat-cell *matCellDef="let row">
            <button
              mat-icon-button
              [matMenuTriggerFor]="menu"
              aria-label="Example icon-button with a menu"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              
              <button mat-menu-item (click)="editclick(row.category_id, row.category_name)">
                <mat-icon class="mat_icon">edit_square</mat-icon>
                <span>Edit</span>
              </button>
            </mat-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      
      </table>

      <mat-paginator #paginator
      [pageSizeOptions]="[1, 2, 30]"
      [length]="11"
      (page)="onPageChange($event)"
      aria-label="Select page of users"
    ></mat-paginator>
    </div>
  </div>
</div>
