<div class="col-12 mt-4 body-table secound_back">
  <div class="row mx-2 py-3">
    <div class="col-6">
      <p class="headline_4 f_400">
        Add Products <span class="content f_400"> 254</span>
      </p>
    </div>
    <div class="col-6 d-flex flex-row-reverse">
      <button [routerLink]="['/add_product']" class="primary_btn content">
        SAVE DETAILS
      </button>
    </div>
  </div>

  <!-- Product table -->
  <div class="col-md-12">
    <div class="row m-0 p-0 first_row border-bottom border-top">
      <div class="col-2 gray-bg">
        <p class="content mt-4 detail_text">| Basic Details</p>
      </div>
      <div class="col-10"></div>
    </div>
    <div class="row m-0 p-0 first_row border-bottom">
      <div class="col-2 gray-bg">
        <p class="content mt-4 detail_text">Category</p>
      </div>
      <div class="col-10">
        <mat-form-field appearance="outline" class="w-25 my-3 mx-4">
          <!-- <mat-label class="body-2 gray-text">Select Category</mat-label> -->
          <mat-select
            [(ngModel)]="selectedValue"
            name="food"
            placeholder="Select Category"
            class="matSelectPlaceholder"
          >
            <mat-option *ngFor="let food of foods" [value]="food.value">
              {{ food.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row m-0 p-0 first_row border-bottom">
      <div class="col-2 gray-bg">
        <p class="content mt-4 detail_text">Sub Category</p>
      </div>
      <div class="col-10">
        <mat-form-field appearance="outline" class="w-25 my-3 mx-4">
          <!-- <mat-label class="body-2 gray-text">Select Category</mat-label> -->
          <mat-select
            [(ngModel)]="selectedValue"
            name="food"
            placeholder="Select A Sub Category"
            class="matSelectPlaceholder"
          >
            <mat-option *ngFor="let food of foods" [value]="food.value">
              {{ food.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row m-0 p-0 first_row border-bottom">
      <div class="col-2 gray-bg">
        <p class="content mt-4 detail_text">Product Name</p>
      </div>
      <div class="col-10">
        <mat-form-field appearance="outline" class="w-50 my-3 mx-4">
          <!-- <mat-label class="body-2 gray-text ">Search by Product Name</mat-label> -->
          <input matInput placeholder="Search by Product Name" />
        </mat-form-field>
      </div>
    </div>
    <div class="row m-0 p-0 first_row border-bottom">
      <div class="col-2 gray-bg">
        <p class="content mt-4 detail_text">Product Main Image</p>
      </div>
      <div class="col-10 w-75 my-3 mx-4">
        <app-image-upload id="fileInput1"></app-image-upload>
      </div>
    </div>
    <div class="row m-0 p-0 first_row border-bottom">
      <div class="col-2 gray-bg">
        <p class="content mt-4 detail_text">Description</p>
      </div>
      <div class="col-10">
        <mat-form-field
          floatLabel="always"
          appearance="outline"
          class="text-area my-3 mx-4"
        >
          <textarea
            placeholder="Description"
            matInput
            [(ngModel)]="textareaContent"
            (input)="adjustTextareaHeight($event)"
            #autoHeightTextarea
          ></textarea>
        </mat-form-field>
      </div>
    </div>
    <div class="row m-0 p-0 first_row border-bottom">
      <div class="col-2 gray-bg">
        <p class="content mt-4 detail_text">Ingredients</p>
      </div>
      <div class="col-10">
        <mat-form-field appearance="outline" class="w-25 my-3 mx-4">
          <!-- <mat-label class="body-2 gray-text">Select Category</mat-label> -->
          <mat-select
            [(ngModel)]="selectedValue"
            name="food"
            placeholder="Select A Sub Category"
            class="matSelectPlaceholder"
          >
            <mat-option *ngFor="let food of foods" [value]="food.value">
              {{ food.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row m-0 p-0 first_row border-bottom">
      <div class="col-2 gray-bg">
        <p class="content mt-4 detail_text">Product Status</p>
      </div>
      <div class="col-10">
        <app-toggle-button
          [type]="0"
          class="my-3 mx-4"
          style="width: 140px"
          [width]="140"
          [on]="false"
          [showLabels]="true"
          leftText="Available"
          rightText="Out of Stock  "
          (changed)="checked = $event"
          [id]="1"
        ></app-toggle-button>
      </div>
    </div>
    <div
      class="row m-0 p-0 first_row border-bottom"
      style="border-radius: 0pc 15px 15px 15px"
    >
      <div class="col-2 gray-bg" style="border-radius: 0px 0px 0px 15px">
        <p class="content mt-4 detail_text">Preview Status</p>
      </div>
      <div class="col-10">
        <app-toggle-button
          [type]="0"
          class="my-3 mx-4"
          style="width: 85px"
          [width]="85"
          [on]="false"
          [showLabels]="true"
          leftText="Yes"
          rightText="No  "
          (changed)="checked1 = $event"
          [id]="2"
        ></app-toggle-button>
      </div>
    </div>
  </div>
</div>

<div class="col-12 mt-5 body-table secound_back">
  <div class="row mx-2 py-3">
    <div class="col-12">
      <p class="headline_4 f_400">
        Variants<span class="content f_400"> 254</span>
      </p>
    </div>
  </div>

  <!-- Product table -->
  <div class="col-md-12">
    <div class="row m-0 p-0 first_row border-bottom border-top">
      <div class="col-2 gray-bg">
        <p class="content mt-4 detail_text">Variant Name</p>
      </div>
      <div class="col-10">
        <mat-form-field appearance="outline" class="w-50 my-3 mx-4">
          <!-- <mat-label class="body-2 gray-text ">Search by Product Name</mat-label> -->
          <input matInput placeholder="Search by Product Name" />
        </mat-form-field>
      </div>
    </div>
    <div class="row m-0 p-0 first_row border-bottom">
      <div class="col-2 gray-bg">
        <p class="content mt-4 detail_text">Variant Images</p>
      </div>
      <div class="col-10 w-75 my-3 mx-4">
        <app-image-upload
          id="fileInput2"
          multiple="multiple"
        ></app-image-upload>
      </div>
    </div>
    <div class="row m-0 p-0 first_row border-bottom">
      <div class="col-2 gray-bg">
        <p class="content mt-4 detail_text">Description</p>
      </div>
      <div class="col-10">
        <mat-form-field
          floatLabel="always"
          appearance="outline"
          class="text-area my-3 mx-4"
        >
          <textarea
            placeholder="Description"
            matInput
            [(ngModel)]="textareaContent"
            (input)="adjustTextareaHeight($event)"
            #autoHeightTextarea
          ></textarea>
        </mat-form-field>
      </div>
    </div>
    <div class="row m-0 p-0 first_row border-bottom">
      <div class="col-2 gray-bg">
        <p class="content mt-4 detail_text">Attributes</p>
      </div>
      <div class="col-10">
        <mat-form-field appearance="outline" class="w-25 my-3 mx-4">
          <!-- <mat-label class="body-2 gray-text">Select Category</mat-label> -->
          <mat-select
            [(ngModel)]="selectedValue"
            name="food"
            placeholder="Select A Sub Category"
            class="matSelectPlaceholder"
            (selectionChange)="onSelectionChange()"
          >
            <mat-option *ngFor="let food of foods" [value]="food.value">
              {{ food.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div
          class="col-4 my-2 mx-4"
          *ngFor="let value of selectedValuesArray; let i = index"
          style="background-color: #232528; border-radius: 15px"
        >
          <div class="row">
            <div class="col-4 m-auto">
              <p class="content primary text-center m-0">{{ value }}</p>
            </div>
            <div class="col-8 position-relative">
              <mat-form-field
                appearance="outline"
                class="attribite_input mt-2 mx-3"
              >
                <!-- <mat-label class="body-2 gray-text ">Search by Product Name</mat-label> -->
                <input matInput placeholder="Search by Product Name" />
              </mat-form-field>
              <mat-icon class="position-absolute red-close-btn">
                <img
                  src="../../../assets/icons/close-red.png"
                  alt=""
                  (click)="closebtn(i)"
              /></mat-icon>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row m-0 p-0 first_row border-bottom">
      <div class="col-2 gray-bg">
        <p class="content mt-4 detail_text">Nutrition</p>
      </div>
      <div class="col-10 overflow-auto">
        <div class="d-flex">
          <table
            class="table w-25 my-3 mx-4 show-image"
            style="background-color: #191b1e"
          >
            <thead>
              <tr class="border_bottom" style="background-color: #404040">
                <th scope="col">
                  <mat-form-field appearance="outline" class="m-2">
                    <input matInput placeholder="Enter a Value" />
                  </mat-form-field>
                </th>
                <th class="borderRL">
                  <mat-form-field appearance="outline" class="m-2">
                    <input matInput placeholder="Enter a Value" />
                  </mat-form-field>
                </th>
                <th scope="col">
                  <mat-form-field appearance="outline" class="m-2">
                    <input matInput placeholder="Enter a Value" />
                  </mat-form-field>
                </th>
                <td class="p-0 btn_back d-none">
                  <input class="row-del-btn" type="button" value=" Delete " />
                </td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of table_row; let i = index">
                <td scope="row" class="border_bottom">
                  <mat-form-field appearance="outline" class="m-2">
                    <input
                      matInput
                      placeholder="Enter a Value"
                      [(ngModel)]="row.column1"
                    />
                  </mat-form-field>
                </td>
                <td class="borderRL border_bottom">
                  <mat-form-field
                    appearance="outline"
                    class="m-2 position-relative"
                    *ngFor="let col2_2 of row.column2; let j = index"
                  >
                    <input
                      matInput
                      placeholder="Enter a Value"
                      [value]="row.column2[j]"
                    />
                    <mat-icon matSuffix (click)="removeinput2_2(i, j)"
                      ><img
                        src="../../../assets/icons/close-red.png"
                        alt=""
                        class="position-absolute"
                    /></mat-icon>
                  </mat-form-field>

                  <div class="d-flex" (click)="addcell2_2(i)">
                    <p
                      class="content my-auto mx-2 primary text-decoration-underline"
                    >
                      Add another Value
                    </p>
                  </div>
                </td>
                <td class="border_bottom">
                  <mat-form-field
                    appearance="outline"
                    class="m-2 position-relative"
                    *ngFor="let col2_3 of row.column3; let j = index"
                  >
                    <input
                      matInput
                      placeholder="Enter a Value"
                      [value]="row.column3[j]"
                    />
                    <mat-icon matSuffix (click)="removeinput2_3(i, j)"
                      ><img
                        src="../../../assets/icons/close-red.png"
                        alt=""
                        class="position-absolute"
                    /></mat-icon>
                  </mat-form-field>
                  <div class="d-flex" (click)="addcell2_3(i)">
                    <p
                      class="content my-auto mx-2 primary text-decoration-underline"
                    >
                      Add another Value
                    </p>
                  </div>
                </td>
                <td
                  class="p-0 btn_back position-relative"
                  (click)="deleteRow(i)"
                >
                  <!-- <input class="row-del-btn  h-100  position-absolute " style=""   type="button" value="delete"> -->
                  <button class="row-del-btn h-100 position-absolute">
                    <span class="content">Delete Row</span>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <button
          (click)="addrow()"
          type="button "
          class="btn my-3 mx-4 add_row_btn"
        >
          Add Row
        </button>
      </div>
    </div>
    <div
      class="row m-0 p-0 first_row border-bottom"
      style="border-radius: 0pc 15px 15px 15px"
    >
      <div class="col-2 gray-bg" style="border-radius: 0px 0px 0px 15px">
        <p class="content mt-4 detail_text">Price</p>
      </div>
      <div class="col-10">
        <mat-form-field appearance="outline" class="w-50 my-3 mx-4">
          <!-- <mat-label class="body-2 gray-text ">Search by Product Name</mat-label> -->
          <input matInput placeholder="Search by Product Name" />
        </mat-form-field>
      </div>
    </div>
    <div
      class="row m-0 p-0 first_row border-bottom"
      style="border-radius: 0pc 15px 15px 15px"
    >
      <div class="col-2 gray-bg" style="border-radius: 0px 0px 0px 15px">
        <p class="content mt-4 detail_text">Product Status</p>
      </div>
      <div class="col-10">
        <app-toggle-button
        [type]="0"
        class="my-3 mx-4"
        style="width: 140px"
        [width]="140"
        [on]="false"
        [showLabels]="true"
        leftText="Available"
        rightText="Out of Stock  "
        (changed)="checked = $event"
        [id]="5"
      ></app-toggle-button>
      </div>
    </div>
    <div
      class="row m-0 p-0 first_row border-bottom"
      style="border-radius: 0pc 15px 15px 15px"
    >
      <div class="col-2 gray-bg" style="border-radius: 0px 0px 0px 15px">
        <p class="content mt-4 detail_text">Preview Status</p>
      </div>
      <div class="col-10">
        <app-toggle-button
        [type]="0"
        class="my-3 mx-4"
        style="width: 85px"
        [width]="85"
        [on]="false"
        [showLabels]="true"
        leftText="Yes"
        rightText="No"
        (changed)="checked = $event"
        [id]="6"
      ></app-toggle-button>
      </div>
    </div>
  </div>
</div>
