<div class="cover_image"></div>
<div class="container" style="height: 100vh">
  <div class="row h-100 pt-5 align-items-center">
    <div
      class="col-12 col-md-6 col-lg-5 col-xl-4 m-auto content text-center p-4 py-5"
    >
      <p class="headline_1 primary back_image mb-4">Sign In</p>
      <div class="form text-start">
        <p class="headline_4 primary f_400">Welcome to Back To Origins!</p>

        <p class="content primary">Please sign-in to your account</p>

        <form>
          <div class="form-row">
            <div class="col">
              <input
                type="email"
                class="form-control form_css my-3 content black"
                placeholder="Email"
                [formControl]="emailFormControl"
              />

              <ng-container *ngFor="let error of resultArray">
                <mat-hint
                  class="text-danger"
                  *ngIf="error.type == 'username'"
                  ><b>{{ error.msg }}</b></mat-hint
                >
              </ng-container>
            </div>
            <div class="col">
              <input
                type="password"
                class="form-control form_css my-3 content black"
                placeholder="Password"
                [formControl]="passwordFormControl"
              />
            </div>

            <mat-hint class="text-danger" *ngIf="final_massage" > <b>{{final_massage}}</b></mat-hint>

            <div class="row">
              <div class="col-6">
                <mat-checkbox class="content" [(ngModel)]="remember_me_checked">
                  Remember Me</mat-checkbox
                >
              </div>
              <div class="col-6 my-auto">
                <p
                  class="body-2 primary text-end m-0 f_300 pointer"
                  [routerLink]="['/reset_password']"
                >
                  Forgot Password ?
                </p>
              </div>
            </div>
            <div class="col-md-12">
              <button
                type="button"
                class="btn w-100 save_btn my-4"
                (click)="login()"
              >
                Sign In
              </button>

              <div class="d-grid gap-2 col-4 mx-auto">
                <!-- <button type="button" class="btn btn-sm btn-success" (click)="showSuccess()">Success</button>
                <button type="button" class="btn btn-sm btn-info" (click)="showInfo()">Info</button>
                <button type="button" class="btn btn-sm btn-warning" (click)="showWarning()">Warning</button>
                <button type="button" class="btn btn-sm btn-danger" (click)="showError()">Error</button> -->
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
