<mat-sidenav-content
  class="sidenav-content"
  style="margin-left: 0px !important"
>
  <div class="col-12 mx-5 header sticky-top nav-bar secound_back">
    <div class="row">
      <div class="col-md-10">
        <div class="mx-4 mt-3">
          <p class="headline_4">Single Order</p>
          <p>All the Details are shown below.</p>
        </div>
      </div>
      <div class="col-md-2">
        <app-profile-details></app-profile-details>
      </div>
    </div>
  </div>

  <p class="headline_4 mx-5 my-4">Order Overview</p>
  <div class="col-12 body-header secound_back">
    <div class="row">
      <div class="col-md-12">
        <div class="mx-4 mt-3">
          <div class="row p-1">
            <div class="col-6">
              <p class="content">Order Number</p>
              <p class="headline_4 f_400">{{ Order_id }}</p>
            </div>
            <div class="col-6 d-flex flex-row-reverse">
              <div class="d-flex">
                <div class="column_1">
                  <div class="col-4">
                    <div class="d-flex">
                      <p class="content text-end" style="min-width: 70px">
                        2020/12/12
                      </p>
                      <img
                        src="../../../assets/icons/calender.png"
                        alt=""
                        class="mx-3 h-25"
                        style="width: 20px"
                      />
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="d-flex">
                      <p class="content text-end" style="min-width: 70px">
                        10:52 am
                      </p>
                      <img
                        src="../../../assets/icons/clock.png"
                        alt=""
                        class="mx-3 h-25"
                        style="width: 20px"
                      />
                    </div>
                  </div>
                </div>
                <div class="column_2">
                  <button
                    class="primary_btn px-2 py-1 px-4 my-0 position-relative"
                  >
                    <img
                      src="../../../assets/icons/invoice.png"
                      class="invoice-icon"
                      alt=""
                    />INVOICE
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>

  <div class="row card-desk mt-5 col-12">
    <!-- left coluumn  -->
    <div class="col-8 laft-col">
      <div class="m-0 p-0 d-flex gap-3" style="width: 97%">
        <div class="col-4 single-card p-3">
          <p class="headline_4">Customer Info</p>

          <div class="row m-0 p-0 mb-3">
            <div
              class="col-md-2 ratio ratio-1x1 w-25 p-0 round-image"
              style="
                background-image: url(https://w7.pngwing.com/pngs/178/595/png-transparent-user-profile-computer-icons-login-user-avatars-thumbnail.png);
              "
            ></div>
            <div class="col-md-10 m-auto content">Bryana Watsica</div>
          </div>

          <p class="overline_1 mb-1">mailto:watsica@steex.com</p>
          <p class="overline_1">+(253) 01234 56789</p>
        </div>
        <div class="col-4 single-card p-3">
          <p class="headline_4">Shipping Info</p>
          <p class="content mt-4">Jennifer Mayert</p>
          <p class="overline_1 mt-3 mb-1">730 Madison Ave, Covington</p>
          <p class="overline_1">Kentucky, United States</p>
        </div>
        <div class="col-4 single-card p-3">
          <p class="headline_4">Billing Info</p>
          <p class="content mt-4">Bryana Watsica</p>
          <p class="overline_1 mt-3 mb-1">730 Madison Ave, Covington</p>
          <p class="overline_1">Kentucky, United States</p>
        </div>
      </div>

      <!-- Product table -->
      <div class="mt-4 pb-3 table_col" style="background-color: #15171a">
        <div class="row">
          <div class="col-6">
            <p class="headline_4 p-3">
              Product Items <span class="content f_300"> 05</span>
            </p>
          </div>
          <div class="col-6 d-flex flex-row-reverse p-3">
            <button class="primary_btn p-0 px-4 py-1 cancel_order">
              CANCEL ORDER
            </button>
          </div>
        </div>

        <div class="col-md-12">
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>
              <!-- ID Column -->
              <ng-container matColumnDef="product_name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Product Name
                </th>
                <td mat-cell *matCellDef="let row">
                  <div class="row">
                    <div
                      class="col-md-2 ratio ratio-1x1 w-25 p-0 round-image mx-2"
                      style="
                        background-image: url(https://w7.pngwing.com/pngs/178/595/png-transparent-user-profile-computer-icons-login-user-avatars-thumbnail.png);
                      "
                    ></div>
                    <div class="col-md-8 m-auto">{{ row.product_name }}</div>
                  </div>
                </td>
              </ng-container>

              <!-- Progress Column -->
              <ng-container matColumnDef="item_price">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Item Price
                </th>
                <td mat-cell *matCellDef="let row">
                  {{ row.item_price }}
                </td>
              </ng-container>

              <!-- Progress Column -->
              <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Quantity
                </th>
                <td mat-cell *matCellDef="let row">
                  {{ row.quantity }}
                </td>
              </ng-container>

              <!-- Fruit Column -->

              <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Amount
                </th>
                <td mat-cell *matCellDef="let row">
                  {{ row.amount }}
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>

            <!-- <mat-paginator
            [pageSizeOptions]="[10, 15, 25, 50]"
            aria-label="Select page of users"
          ></mat-paginator> -->
          </div>
        </div>
        <div class="col-12 row p-0 m-0 gap-3 m-3">
          <div class="col-3 border-col p-3">
            <p class="w-100 text-center content">Order Date</p>
            <p class="w-100 text-center body-3 m-0">15 Feb,2023</p>
          </div>
          <div class="col-3 border-col p-3">
            <p class="w-100 text-center content">Delivery Date</p>
            <p class="w-100 text-center body-3 m-0">15 Feb,2023</p>
          </div>

          <div class="col-5 border-col p-3">
            <p class="w-100 text-center content">Order Amount</p>
            <p class="w-100 text-center body-3 m-0">$2,050.18</p>
          </div>
        </div>
      </div>
    </div>
    <!-- right column -->
    <div class="col-4 right-col p-0">
      <div class="col-12 right-card p-3 mx-2">
        <p class="headline_4">Payment Info</p>

        <p class="content mt-4">ID: #TBS3650259845</p>
        <p class="content f_400 mt-3 mb-1">Payment Method: Debit Card</p>
        <p class="content f_400">Card Number: xxxx xxxx xxxx 2456</p>
      </div>
      <div class="col-12 right-card p-3 mx-2 mt-4">
        <p class="headline_4">Total order amount</p>

        <div class="row mt-2">
          <div class="col-8">
            <p class="content">Sub Total :</p>
          </div>
          <div class="col-4">
            <p class="content text-end">$2,272.95</p>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-8">
            <p class="content">Discount (STEEX30) :</p>
          </div>
          <div class="col-4">
            <p class="content text-end">-$681.89</p>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-8">
            <p class="content">Shipping Charge :</p>
          </div>
          <div class="col-4">
            <p class="content text-end">$49.99</p>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-8">
            <p class="content">Estimated Tax :</p>
          </div>
          <div class="col-4">
            <p class="content text-end">$409.13</p>
          </div>
        </div>

        <hr class="mx-2" />
        <div class="row">
          <div class="col-8">
            <p class="content">Total :</p>
          </div>
          <div class="col-4">
            <p class="content text-end">$2,050.18</p>
          </div>
        </div>
      </div>
      <div class="col-12 right-card p-3 mx-2 mt-4">
        <p class="headline_4 mb-1">Delivery Rider’s Info</p>

        <div class="row mt-3">
          <div class="col-md-6 col-12">
            <mat-form-field appearance="outline">
              <mat-label>Rider’s Name</mat-label>
              <input matInput placeholder="" />

              <mat-hint>Hint</mat-hint>
            </mat-form-field>
          </div>
          <div class="col-md-6 col-12">
            <mat-form-field appearance="outline">
              <mat-label>Rider’s Number</mat-label>
              <input matInput placeholder="" />

              <mat-hint>Hint</mat-hint>
            </mat-form-field>
          </div>
        </div>

        <p class="headline_4 mt-4">Order Status</p>
        <p
          class="content f_400 mt-3 mb-1"
          style="color: rgba(131, 131, 131, 1)"
        >
          Click To Update the next status of the order
        </p>
        <button class="primary_btn px-3 py-12 px-4 my-0 position-relative">
          <img
            src="../../../assets/icons/invoice.png"
            class="invoice-icon"
            alt=""
          />INVOICE
        </button>
      </div>
    </div>
  </div>

  <div class="col-12 body-header secound_back mt-4 p-3" style="height: auto">
    <div class="d-flex">
      <p class="headline_4 my-auto">Order Status</p>
      <p class="content mx-4 my-auto">Shipped</p>
    </div>

    <div class="d-flex justify-content-between">
      <ng-container
        *ngFor="let order_status_image of oredr_status_array; let i = index"
      >
        <div
          [ngClass]="
            i < 3 ? 'col-1 p-4 status_col pending' : 'col-1 p-4 status_col'
          "
        >
          <img
            src="../../../assets/icons/{{ order_status_image.image }}.png"
            class="w-100 image_icon"
            alt=""
          />
          <p class="text-center mt-3">{{ order_status_image.name }}</p>
        </div>
      </ng-container>
    </div>
  </div>
</mat-sidenav-content>
