.header {
  width: 95%;
  border-radius: 10px;
}

.body-header {
  margin-right: 3rem;
  margin-left: 3rem;
  width: 95%;
}

.body-table {
  width: 95%;
  margin-right: 3rem;
  margin-left: 3rem;
  border-radius: 10px;
}
.card-header {
  width: 95%;
  border-radius: 10px;
}

.card-first {
  background-color: #15171a;
  border-radius: 15px;
}


@media (max-width: 1200px) {
  .body-header {
    width: 95%;
    margin: auto;
  }
  .primary_btn {
    border-radius: 10px;
    background: #97be41;
    color: #fff;
    padding: 5px 20px 5px 20px;
  }

  .body-table {
    width: 95%;
    margin: auto;
  }
  .status_btn {
    width: 100%;
  }
}


.sidenav-content {
  overflow-x: hidden;
}

.header{

  width: 95%;
  height: 100px;
}

.nav-bar {
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.65);
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.10);
  -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.65);
}