<div class="cover_image"></div>
<div class="container" style="height: 100vh">
  <div class="row h-100 pt-5 align-items-center">
    <div
      class="col-12 col-md-6 col-lg-5 col-xl-4 m-auto content text-center p-4 py-5"
    >
      <p class="headline_3 primary back_image mb-4">Reset Password</p>
      <div class="form text-start">
        <p class="headline_4 primary f_400">Verify your email</p>

        <p class="content primary">
            We will send you a verification code to your email.
        </p>

        <form>
          <div class="form-row">

            <div class="d-flex pt-4 pb-2">
                <div class="col-2 " style="margin-right: 8px;">
                    <input class="otp-letter-input form_css " maxlength="1"  type="text">
                </div>
                <div class="col-2 mx-2 ">
                    <input class="otp-letter-input form_css " maxlength="1" type="text">
                </div>
                <div class="col-2 mx-2">
                    <input class="otp-letter-input form_css " maxlength="1" type="text">
                </div>
                <div class="col-2 mx-2 ">
                    <input class="otp-letter-input form_css " maxlength="1" type="text">
                </div>
                <div class="col-2 mx-2">
                    <input class="otp-letter-input form_css " maxlength="1" type="text">
                </div>
            </div>
            

            <div class="col-md-12">
                <button type="button" class="btn w-100 save_btn my-4" (click)="btnSave()" >
                Continue
              </button>
            </div>
            <div class="col-md-12 text-center">
              <p class="primary body-2 f_300 pointer"  >
                Didn’t receive the code? <span class="secound_green" [routerLink]="['']">Resend</span>
              </p>
              
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
