/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

//fonts

.headline_1 {
  font-family: Inter;
  font-size: 80px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.headline_3 {
  font-family: Inter;
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.headline_2 {
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.headline_4 {
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.25px;
}
.body-1 {
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.body-2 {
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.25px;
}
.body-3 {
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.25px;
}
.body-4 {
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.content {
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.overline_1 {
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.25px;
}
.upper {
  text-transform: uppercase;
}

.f_500 {
  font-weight: 500 !important;
}
.f_400 {
  font-weight: 400 !important;
}
.f_300 {
  font-weight: 300 !important;
}

//colors

.primary {
  color: #fff;
}
.input_color {
  color: #1d1d1d;
}

.primary_back {
  background: #0f1114 !important;
}
.secound_back {
  background: #15171a !important;
}

.primary_green {
  color: #d0ff67;
}
.secound_green {
  color: #97be41;
}
.third_green {
  color: #29381b;
}
.background_green {
  border-radius: 20px;
  background: #536134;
}
.background_red {
  border-radius: 20px;
  background: #613434;
}
.primary_red {
  color: #ff6666;
}
.black {
  color: #000;
}
.gray {
  color: #757983;
}
.gray-text {
  color: #838383;
}
.gray-bg {
  background-color: #3f3d3e;
}

.botton_normal{
  border-radius: 10px;
  color: #fff;
  
 
}
.primary_btn {
  border-radius: 10px;
  background: #97be41;
  color: #fff;
  padding: 10px 30px 10px 30px;
  border: 2px solid #97be41;
}

.pointer {
  cursor: pointer;
}

.mat-mdc-form-field-subscript-wrapper {
  display: none;
}

.mdc-checkbox__background {
  border-radius: 7px !important;
}
.mat-drawer-inner-container.ng-tns-c15-1 {
  background: #15171a;
}
.mat-drawer-inner-container.ng-tns-c15-1 {
  height: 95% !important;
}
.mat-sidenav.mat-drawer.mat-sidenav.ng-tns-c15-1.ng-trigger.ng-trigger-transform.mat-drawer-side.mat-drawer-opened.ng-star-inserted {
  background: #0f1114 !important ;
  border-right: solid 0px #0f1114;
}

.mdc-text-field--outlined .mdc-notched-outline .mdc-notched-outline__leading {
  border-top-left-radius: 20px !important;

  border-bottom-left-radius: 20px !important;
}
.mdc-text-field--outlined .mdc-notched-outline .mdc-notched-outline__trailing {
  border-bottom-right-radius: 12px !important;
  border-top-right-radius: 12px !important;
}

.mat-mdc-dialog-surface.mdc-dialog__surface {
  border-radius: 15px !important;
}

::-webkit-scrollbar {
  width: 4px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 px grey;
  border-radius: 2px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  // background: rgb(222 70 137);;
  background: rgb(187, 187, 187);
  border-radius: 2px;
}

tr.ng-tns-c49-2.ng-star-inserted {
  border-color: #191b1e;
}
.mat-mdc-table {
  background-color: #15171a;
}
.mat-mdc-table .mdc-data-table__header-row {
  height: 56px;
  background-color: #3f3d3eed;
}

.mat-mdc-paginator {
  background-color: #15171a;
  border-top: 0.5px solid #3f3d3eed;
  border-radius: 0px 0px 20px 20px;
}

.mat_icon {
  color: #fff;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 100, "GRAD" 0, "opsz" 24;
}

.active {
  background-color: #787eff;
  border-radius: 10px;
  color: white;
  span {
    img {
      filter: brightness(0) invert(1);
    }
  }
}
.popup {
  background-color: #3f3d3e;
  border-radius: 20px;
}
.mdc-notched-outline {
  height: 85% !important;
}
.mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
  padding-top: 11px !important;
  padding-bottom: 16px !important;
}
input,
input::placeholder {
  font: 12px Poppins;
}
.mdc-floating-label {
  top: 22px !important;
}
.matSelectPlaceholder {
  font-size: 12px;
  font-family: Poppins;
}
.text-area {
  font-size: 12px;
  font-family: Poppins;
}
.mat-mdc-form-field-focus-overlay {
  background-color: #424242;
  border: 1px solid #fff;
}
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color:#424242;
  border: 1px solid #8f8f8f;
  border-radius: 15px;
}

span.mdc-tab-indicator__content.mdc-tab-indicator__content--underline{
  border-color: #97BE41 !important;
}


.mat-mdc-form-field-icon-prefix.ng-tns-c20-2.ng-star-inserted{
  padding-bottom: 8px;
}
span.mdc-list-item__primary-text{
  color: #a1a1a1;
}

.mat-primary .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) .mdc-list-item__primary-text {
  color: var(--mdc-theme-primary, #97BE41);
}
.mat-primary .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-full, .mat-primary .mat-pseudo-checkbox-indeterminate.mat-pseudo-checkbox-full {
  background: #97BE41;}

  // .mat-icon.mat-icon.notranslate.material-icons.mat-ligature-font.mat-icon-no-color.ng-star-inserted{
  //   color: red;
  // }

  .mat-icon.mat-icon.notranslate.yellow-color.material-icons.mat-ligature-font.mat-icon-no-color{
    color: #F6B749;
  }












  ::ng-deep [dir=rtl] .textFieldInvalid.mat-mdc-form-field:hover .mat-mdc-text-field-wrapper .mdc-notched-outline__leading,
  ::ng-deep .textFieldInvalid.mat-mdc-form-field:hover .mat-mdc-text-field-wrapper .mdc-notched-outline__leading {
    border-color: red;
    background-color: red; /* Change the background color on hover */
  }